
@layer base {


    :root {

         /* text-l1-a1 */
        --layer-1-alpha-1:hsla(0,0%,0%,0.9); /*0,0%,0%,0.9 */

        /* text-l1-a2 */
        --layer-1-alpha-2:hsla(0,0%,0%,0.6); /*0,0%,0%,0.6 */

        /* text-l1-a3 */
        --layer-1-alpha-3:hsla(0,0%,0%,0.4); /*0,0%,0%,0.4 */


        /* text-l2-a1 */
        --layer-2-alpha-1:hsla(0,0%,100%,0.9); /*0,0%,100%,0.9 */

        /* text-l2-a2 */
        --layer-2-alpha-2:hsla(0,0%,100%,0.6); /*0,0%,100%,0.9 */

        /* text-l2-a3 */
        --layer-2-alpha-3:hsla(0,0%,100%,0.4); /*0,0%,100%,0.9 */


    }



    .dark {

      
        /* text-l1-a1 */
        --layer-1-alpha-1:hsla(0,0%,100%,0.9); /*0,0%,100%,0.9 */

          /* text-l1-a2 */
        --layer-1-alpha-2:hsla(0,0%,100%,0.6); /*0,0%,100%,0.9 */

          /* text-l1-a3 */
        --layer-1-alpha-3:hsla(0,0%,100%,0.4); /*0,0%,100%,0.9 */


        /* text-l2-a1 */
        --layer-2-alpha-1:hsla(0,0%,0%,0.9); /*0,0%,0%,0.9 */

          /* text-l1-a2 */
        --layer-2-alpha-2:hsla(0,0%,0%,0.6); /*0,0%,0%,0.6 */

          /* text-l1-a3 */
        --layer-2-alpha-3:hsla(0,0%,0%,0.4); /*0,0%,0%,0.4 */



    }

}
