
@layer base {


    :root {

        /*bg-yellow-l1-a1 or, text-yellow-l1-a1 */
       --yellow-layer-1-alpha-1: hsla(50,85%,40%,1); 

       /*bg-yellow-l1-a2 or, text-yellow-l1-a2 */
       --yellow-layer-1-alpha-2: hsla(50,85%,40%,0.9); 

       /*bg-yellow-l1-a2 or, text-yellow-l1-a2 */
       --yellow-layer-1-alpha-3: hsla(50,85%,40%,0.8); 




      /*bg-yellow-l2-a1 or, text-yellow-l2-a1 */
      --yellow-layer-2-alpha-1: hsla(50,85%,70%,1); 
          
      /*bg-yellow-l2-a2 or, text-yellow-l2-a2 */
      --yellow-layer-2-alpha-2: hsla(50,85%,70%,0.9); 
    
      /*bg-yellow-l2-a2 or, text-yellow-l2-a2 */
      --yellow-layer-2-alpha-3: hsla(50,85%,70%,0.8); 



    }




    .dark {

        /*bg-yellow-l1-a1 or, text-yellow-l1-a1 */
       --yellow-layer-1-alpha-1: hsla(50,85%,70%,1); 

       /*bg-yellow-l1-a2 or, text-yellow-l1-a2 */
       --yellow-layer-1-alpha-2: hsla(50,85%,70%,0.9); 

       /*bg-yellow-l1-a2 or, text-yellow-l1-a2 */
       --yellow-layer-1-alpha-3: hsla(50,85%,70%,0.8); 



       /*bg-yellow-l2-a1 or, text-yellow-l2-a1 */
       --yellow-layer-2-alpha-1: hsla(50,85%,40%,1);
      
       /*bg-yellow-l2-a2 or, text-yellow-l2-a2 */
       --yellow-layer-2-alpha-2: hsla(50,85%,40%,0.9); 

       /*bg-yellow-l2-a2 or, text-yellow-l2-a2 */
       --yellow-layer-2-alpha-3: hsla(50,85%,40%,0.8); 
        
    }

}
