html{
  font-size: 100%;
  box-sizing: border-box;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

//Buttons

button, .button {
  cursor: pointer;
}


// flex-box

.flex {
    Display:flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }
    
    &-ai-c{
        align-items: center;
    }

}

