.test-1_r{
    background-color: aqua;
    text-align:center;
    padding-top:5rem;
    padding-bottom:5rem;
    
}

.test-2_r{
    background-color: black;
    color:white;
    text-align:center;
    padding-top:5rem;
    padding-bottom:5rem;
}


